server {
    listen 8080 default_server;
    listen [::]:8080 default_server;

    # Set nginx to serve static files
    root /var/www/html/public;
    server_name _;

    location / {
        try_files $uri /index.php$is_args$args;
    }

    location ~ \.php$ {
        fastcgi_pass ${NGINX_FAST_CGI_HOST}:9000;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param DOCUMENT_ROOT $realpath_root;
    }
}
